html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-bottom: 1px solid gray;
}

nav {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: burlywood;
  line-height: 40px;
}

nav h3 {
  padding: 30px;
  display:inline;
}

nav ul {
  display: inline-block;
  border-left: 1px solid black;
  margin:0;
  padding:0;
}

nav ul li {
  display: inline-block;
  border-right: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
}
